@page
@model VKPRApp.Api.Pages.IndexModel
@{
}
<!DOCTYPE html/>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/Content/Site.css"/>
    </head>
    <body>
        <div class="topnav">
           
        </div>
    </body>
</html>
